.top-bar {
  // font-family: 'NeueHansKendrick', opentype;
  position: absolute;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;

  .logo img {
    height: 111px;
    width: auto;
  }

  .navigation-menu {
    display: inline-block;
    padding: 0 10px;

    li {
      display: inline-block;
      padding: 0 1em;

      a {
        text-decoration: none;
        font-size: 19px;
        color: #fff;
        text-shadow: 0px 0px 7px #000;
      }
    }
  }
}
